@page "/deck/{mode}/{name?}"

@using VX.PlanningPoker.Data;

<h1>Настройки колоды</h1>

<table>
    <tr>
        <td>Наименование колоды:</td>
        <td><input name="room-name" @bind-value="deck.Name" /></td>
    </tr>
    <tr>
        <th rowspan="@(deck.Cards.Count+1)">Карты <button @onclick="()=>AddCard()">+</button></th>
        <th>Отображение</th>
        <th>Число</th>
        <th></th>
    </tr>
    @for (var i = 0; i < deck.Cards.Count; i++)
    {
        var cardNo = i;
        <tr>
            <td>
                <input type="text" @bind-value="deck.Cards[cardNo].Title" />
            </td>
            <td>
                <input type="number" @bind-value="deck.Cards[cardNo].Value" />
            </td>
            <td>
                <button @onclick="()=>RemoveCard(cardNo)">-</button>
            </td>
        </tr>
    }
    <tr>
        <td colspan="2">
            <button @onclick="()=>Save()">Сохранить</button><br />
            <span>@saveMessage</span>
        </td>
    </tr>
</table>

@code {
    /// <summary>
    /// Режим открытия страницы: <br/>
    ///  - add - добавление новой колоды <br/>
    ///  - edit - редактирование существующей колоды
    /// </summary>
    [Parameter]
    public string mode { get; set; }

    /// <summary>
    /// Наименование колоды, для режима редактирования
    /// </summary>
    [Parameter]
    public string name { get; set; }

    public Deck deck = new Deck();

    public string saveMessage = "";

    protected override async Task OnInitializedAsync()
    {
        switch (mode)
        {
            case "add":
                deck = new Deck();
                break;
            case "edit":
                deck = Deck.Get(name);
                break;
        }
    }

    /// <summary>Добавить новую карту</summary>
    public void AddCard() => deck.Cards.Add(new Card { Title = "" });

    /// <summary>Удалить карту</summary>
    /// <param name="cardNo">порядковый номер карты</param>
    public void RemoveCard(int cardNo) => deck.Cards.RemoveAt(cardNo);

    /// <summary>Сохранить колоду</summary>
    public void Save()
    {
        if ("add" == mode && Deck.IsDeckExists(deck.Name))
        {
            saveMessage = $"Колода с именем {deck.Name} уже существует";
            return;
        }
        name = deck.Name;
        Deck.AddDeck(deck);
    }
}